{% extends 'layout.html' %}
{% load static %}

{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">  
{% endblock extra_css %}

<div class="content">
    <h3 class="profile_message">Mi Perfil</h3>
    

    <div class="mb-3 card">
        <div class="card-body">
            <h5>Valorización de Propiedades Guardadas</h5>

            {% if properties %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Barrio</th>
                            <th>Tipo de Propiedad</th>
                            <th>Habitaciones</th>
                            <th>Baños</th>
                            <th>Tamaño (m²)</th>
                            <th>Precio Estimado</th>
                            <th>Modificar </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for property in properties %}
                        <tr>
                            <td>{{ property.neighbourhood }}</td>
                            <td>{{ property.type }}</td>
                            <td>{{ property.num_rooms }}</td>
                            <td>{{ property.num_banos }}</td>
                            <td>{{ property.size }} m²</td>
                            <td>${{ property.estimated_price }}</td>
                            <td>
                                <a href="{% url 'edit_property' property.id %}" class="modify-btn">Modificar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No tienes propiedades guardadas para cálculo de valorización todavía.</p>
            {% endif %}
        </div>
    </div>  
    
    <div class="mb-3 card">
        <div class="card-body">
            <h5>Precio por Noche de Propiedades Guardadas</h5>
    
            {% if rental_properties %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Barrio</th>
                            <th>Habitaciones</th>
                            <th>Baños</th>
                            <th>Tamaño (m²)</th>
                            <th>Comodidades</th>
                            <th>Precio por Noche Estimado</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rental_property in rental_properties %}
                        <tr>
                            <td>{{ rental_property.neighbourhood }}</td>
                            <td>{{ rental_property.num_rooms }}</td>
                            <td>{{ rental_property.num_banos }}</td>
                            <td>{{ rental_property.size }} m²</td>
                            
                            <td> 
                                {{ rental_property.amenities_count }}
                                <span class="tooltip-icon"> ℹ
                                    <span class="tooltip-text">
                                        Comodidades activas:
                                        <ul>
                                            {% if rental_property.wifi %}<li>WiFi</li>{% endif %}
                                            {% if rental_property.air_conditioner %}<li>Aire acondicionado</li>{% endif %}
                                            {% if rental_property.balcony %}<li>Balcón</li>{% endif %}
                                            {% if rental_property.terrace %}<li>Terraza</li>{% endif %}
                                            {% if rental_property.garden %}<li>Jardín</li>{% endif %}
                                            {% if rental_property.pool %}<li>Piscina</li>{% endif %}
                                            {% if rental_property.heater %}<li>Calefacción</li>{% endif %}
                                            {% if rental_property.washing_machine %}<li>Lavadora</li>{% endif %}
                                            {% if rental_property.dryer %}<li>Secadora</li>{% endif %}
                                            {% if rental_property.chimney %}<li>Chimenea</li>{% endif %}
                                            {% if rental_property.jacuzzi %}<li>Jacuzzi</li>{% endif %}
                                            {% if rental_property.sauna %}<li>Sauna</li>{% endif %}
                                            {% if rental_property.board_games %}<li>Juegos de mesa</li>{% endif %}
                                            {% if rental_property.parking %}<li>Parqueadero</li>{% endif %}
                                        </ul>
                                    </span>
                                </span>
                            </td>
                            <td>${{ rental_property.price_per_night }}</td>
                            <td>
                                <a href="{% url 'edit_rental_property' rental_property.id %}" class="modify-btn">Modificar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No tienes propiedades guardadas para cálculo de precio por noche todavía.</p>
            {% endif %}
        </div>
    </div>

</div>

<h6 class="profile_message">En esta sección puedes revisar las propiedades que has guardado y gestionarlas de manera segura.</h6>

{% endblock %}


