{% extends 'layout.html' %}
{% load static %}

{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/register.css' %}">
{% endblock extra_css %}

<div class="content">
    <h3 class="signup_message">Registrese</h3>
    <div class="mb-3 card">
        <div class="card-body">
            <form class="form_register__form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <a href="{% url 'login' %}">Ya tengo una cuenta</a>
                <button type="submit" id="submit" class="btn btn-custom">Registrarse</button>
            </form>
        </div>
    </div>  
</div>
<h6 class="register_message">El registro en nuestra plataforma será usado para que podamos guardar y <br>
    gestionar de manera segura la información de sus actividades y preferencias. </h6>

{% endblock %}