{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock extra_css %}
<div class="home_box">
    <h1 class="welcome_message">Bienvenido a RealEstatePro</h1>
    <hr>
    <!-- <h3 class="welcome_description_message">Aqui podrás validar tus decisiones de inversión a través de análisis predictivos</h3> -->
    <h3 class="about_us_message">¿Quieres conocer el futuro valor de tu vivienda o saber <br>
        cuánto podrías ganar al alquilarla en Airbnb?
        <br>
        <br> ¡Tenemos las respuestas que necesitas!<br>
        <br>
         Te ofrecemos proyecciones precisas de valorización de <br>tu propiedad y 
          calculamos el precio ideal por noche<br> para maximizar tus ingresos en plataformas de alquiler.</h3>
          <br>
    <div class="home_button">
        <a href="{% url 'calculate' %}"><button type="submit" id="submit" class="btn btn-custom">Calcula el valor de tu propiedad</button></a>
    </div>
</div>

{% endblock content %}