/* Contenedor principal */
.calculate_form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos del título */
h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Contenedor del formulario */
.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* Contenedor de la sección de resultados */
.results-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

/* Estilo para las filas del formulario */
.row {
    margin-bottom: 20px;
}

/* Estilo para los labels y entradas del formulario */
.col-form-label {
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

input[type="text"]:focus, select:focus, input[type="number"]:focus {
    border-color: rgb(255, 145, 149);
}

/* Botones */
.enviar {
    background-color: black;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.option{
    background-color: rgb(83, 82, 82);
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.enviar:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.save-btn {
    background-color: rgb(255, 145, 149);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.save-btn:hover {
    background-color: #ff7075;
}

/* Caja de resultados */
.result-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

/* Tooltip */
.tooltip-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #007bff;
    font-weight: bold;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Flecha del tooltip */
.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.results-section .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.result-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 10px;
}

.text-center h3, .text-center h4 {
    color: #333;
    font-weight: bold;
}

.results-section .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.result-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 10px;
}

/* Estilo para la tabla de resultados */
table.table {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border-collapse: collapse;
}

table.table th, table.table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table.table thead th {
    background-color: #f8f8f8;
    font-weight: bold;
}

table.table-striped tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
