{% extends 'layout.html' %}
{% load static %}

{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/calculate.css' %}">
{% endblock extra_css %}
<div class="container-fluid">
    <div class="row">
        <h2 class="mb-4 text-center">Formulario de Proyección de Valor</h2>
        <div class="col-md-6 d-flex flex-column align-items-start justify-content-center">
            <form method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="id_neighbourhood" class="col-sm-4 col-form-label">Barrio:</label>
                    <div class="col-sm-8">
                        {{ form.neighbourhood }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_direccion" class="col-sm-4 col-form-label">Dirección:</label>
                    <div class="col-sm-8">
                        {{ form.direccion }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_tipo" class="col-sm-4 col-form-label">Tipo:</label>
                    <div class="col-sm-8">
                        {{ form.type }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_latitude" class="col-sm-4 col-form-label">Latitud:</label>
                    <div class="col-sm-8">
                        {{ form.latitude }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_longitude" class="col-sm-4 col-form-label">Longitud:</label>
                    <div class="col-sm-8">
                        {{ form.longitude }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_price" class="col-sm-4 col-form-label">Precio:</label>
                    <div class="col-sm-8">
                        {{ form.price }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_num_rooms" class="col-sm-4 col-form-label">Habitaciones:</label>
                    <div class="col-sm-8">
                        {{ form.num_rooms }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_num_banos" class="col-sm-4 col-form-label">Baños:</label>
                    <div class="col-sm-8">
                        {{ form.num_banos }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_size" class="col-sm-4 col-form-label">Tamaño (m²):</label>
                    <div class="col-sm-8">
                        {{ form.size }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_price_administration" class="col-sm-4 col-form-label">Administración:</label>
                    <div class="col-sm-8">
                        {{ form.price_administration }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_age" class="col-sm-4 col-form-label">Antigüedad:</label>
                    <div class="col-sm-8">
                        {{ form.age }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_garajes" class="col-sm-4 col-form-label">Garajes:</label>
                    <div class="col-sm-8">
                        {{ form.garajes }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_stratum" class="col-sm-4 col-form-label">Estrato:</label>
                    <div class="col-sm-8">
                        {{ form.stratum }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_id" class="col-sm-4 col-form-label">ID:</label>
                    <div class="col-sm-8">
                        {{ form.id }}
                    </div>
                </div>
                <div class="row w-100 mb-4">
                    <div class="col-md-6 text-center">
                        <button type="submit" class="enviar w-100">Calcular valorización futura</button>
                    </div>
                    <div class="col-md-6 text-center">
                        <button type="button" class="enviar w-100">Calculo precio por noche</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Sección de Botones, Gráficos y resultss a la derecha -->
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-start">

            <div class="row w-100 mb-4">
                <div class="col-md-6 text-center">
                    <div id="grafico1" class="result-box">
                        <!-- Placeholder para gráfico 1 -->
                        <img src="{% static 'images/grafico1_placeholder.png' %}" alt="Gráfico 1" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div id="grafico2" class="result-box">
                        <!-- Placeholder para gráfico 2 -->
                        <img src="{% static 'images/grafico2_placeholder.png' %}" alt="Gráfico 2" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="row w-100">
                <div class="col-md-6 text-center">
                    <h5>Valor estimado:</h5>
                    {% for year, prediction in results.price_estimated.items %}
                    <h2>{{ year }}: {{ prediction }}</h2>
                    {% endfor %}
                </div>
                <div class="col-md-6 text-center">
                    <h5>Valor por noche:</h5>
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}