{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock extra_css %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert alert-{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %} 
<div class="content">
    <h3 class="login_message">Inicie sesión</h3>
    <div class="mb-3 card">
        <div class="card-body">
            <form class="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <a href="{% url 'register' %}">No tengo una cuenta</a>
                <button type="submit" id="submit" class="btn btn-custom">Iniciar sesión</button>
            </form>
        </div>
    </div>  
</div>

{% endblock content %}