.checkbox-group {
    /* display: flex; */
    align-items: flex-start;
    margin-bottom: 15px;
}

.checkbox-group .col-form-label {
    width: 25%; /* Ajusta el ancho del label principal según prefieras */
    font-weight: bold;
}

.checkbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre los checkboxes */
    width: 75%; /* Ajusta el ancho según el espacio necesario */
}

.checkbox-container label {
    display: flex;
    align-items: center;
    width: calc(33.33% - 10px); /* Ajuste preciso para 3 elementos por fila */
    font-weight: normal;
    position: relative;
    margin-bottom: 10px; /* Espacio entre filas */
}

/* Ajuste del checkbox y el ícono de información */
.checkbox-container label input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
}

/* .tooltip-icon {
    margin-left: 5px; 
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
    position: relative;
}


.tooltip-text {
    visibility: hidden; 
    width: 180px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
} */
