{% extends 'layout.html' %}
{% load static %}

{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/calculate.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock extra_css %}

<div class="calculate_form">
    <div class="container"> 
        <h2>Formulario de Proyección de Valor</h2>
        
        <!-- Contenedor del formulario -->
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="id_neighbourhood" class="col-sm-4 col-form-label">
                        Barrio:
                        <span class="tooltip-icon">
                            ℹ
                            <span class="tooltip-text">Seleccione el barrio de la propiedad</span>
                        </span>
                    </label>
                    <div class="col-sm-8">
                        {{ form.neighbourhood }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="id_tipo" class="col-sm-4 col-form-label">
                        Tipo:
                        <span class="tooltip-icon">
                            ℹ
                            <span class="tooltip-text">Tipo de propiedad (apartamento o casa)</span>
                        </span>
                    </label>
                    <div class="col-sm-8">
                        {{ form.type }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_age" class="col-sm-4 col-form-label">
                        Antigüedad:
                        <span class="tooltip-icon">
                            ℹ
                            <span class="tooltip-text">Edad de la propiedad en años</span>
                        </span>
                    </label>
                    <div class="col-sm-8">
                        {{ form.age }}
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label for="id_num_rooms" class="col-sm-4 col-form-label">
                        Habitaciones:
                        <span class="tooltip-icon">
                            ℹ
                            <span class="tooltip-text">Número de habitaciones en la propiedad</span>
                        </span>
                    </label>
                    <div class="col-sm-8">
                        {{ form.num_rooms }}
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label for="id_num_banos" class="col-sm-4 col-form-label">
                        Baños:
                        <span class="tooltip-icon">
                            ℹ
                            <span class="tooltip-text">Número de baños en la propiedad</span>
                        </span>
                    </label>
                    <div class="col-sm-8">
                        {{ form.num_banos }}
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label for="id_size" class="col-sm-4 col-form-label">
                        Tamaño (m²):
                        <span class="tooltip-icon">
                            ℹ
                            <span class="tooltip-text">Tamaño total en metros cuadrados de la propiedad</span>
                        </span>
                    </label>
                    <div class="col-sm-8">
                        {{ form.size }}
                    </div>
                </div>
                
            
                <div class="row mb-3 checkbox-group">
                    <label class="col-form-label">Comodidades:</label>
                    <div class="checkbox-container">
                        <label>
                            {{ form.wifi }} WiFi
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble cuenta con red WiFi</span>
                            </span>
                        </label>
                        <label>
                            {{ form.air_conditioner }} Aire acondicionado
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble cuenta con aire acondicionado</span>
                            </span>
                        </label>
                        <label>
                            {{ form.balcony }} Balcón
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble cuenta con un balcón</span>
                            </span>
                        </label>
                        <label>
                            {{ form.terrace }} Terraza
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble cuenta con una terraza</span>
                            </span>
                        </label>
                        <label>
                            {{ form.garden }} Jardín
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble cuenta con un jardín</span>
                            </span>
                        </label>
                        <label>
                            {{ form.pool }} Piscina
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble cuenta con una piscina</span>
                            </span>
                        </label>
                        <label>
                            {{ form.heater }} Calefacción
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble cuenta con calefacción</span>
                            </span>
                        </label>
                        <label>
                            {{ form.washing_machine }} Lavadora
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble cuenta con una lavadora</span>
                            </span>
                        </label>
                        <label>
                            {{ form.dryer }} Secadora
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble cuenta con una secadora</span>
                            </span>
                        </label>
                        <label>
                            {{ form.chimney }} Chimenea
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble cuenta con una chimenea</span>
                            </span>
                        </label>
                        <label>
                            {{ form.jacuzzi }} Jacuzzi
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble cuenta con un jacuzzi</span>
                            </span>
                        </label>
                        <label>
                            {{ form.sauna }} Sauna
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble cuenta con un sauna</span>
                            </span>
                        </label>
                        <label>
                            {{ form.board_games }} Juegos de mesa
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble tiene juegos de mesa</span>
                            </span>
                        </label>
                        <label>
                            {{ form.parking }} Parqueadero
                            <span class="tooltip-icon">ℹ
                                <span class="tooltip-text">Marca si el inmueble tiene incluido parqueadero</span>
                            </span>
                        </label>
                    </div>
                </div>
                
                <div class="row w-100 mb-4">
                    <div class="col-md-6 text-center">
                        <a href="{% url 'calculate' %}"><button type="button" class="enviar w-100">Calcular valorización futura</button></a>
                    </div>
                    <div class="col-md-6 text-center">
                        <button type="submit" class="enviar w-100">Calcular precio por noche</button>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <button type="submit" name="save_property" class="btn save-btn w-100">Guardar información de propiedad</button>
            {% else %}
                <div class="alert alert-warning text-center" role="alert">
                    Regístrate primero para acceder a la funcionalidad de <strong>guardar información</strong>
                </div>
            {% endif %}

            </form>
        </div>

        <!-- Contenedor de resultados -->
        <div class="results-section">
            <div class="result-box">
                <h3>Valor por noche:</h3>
                {% if results.price_per_night %}
                    <p>{{ results.price_per_night }}</p>
                {% else %}
                    <p>Haz clic en "Calcular precio por noche" para ver el resultado</p>
                {% endif %}
            </div>
            <div class="result-box">
                <h3>Valor promedio del barrio seleccionado</h3>
                {% if results.average %}
                    <p>{{ results.average }}</p>
                {% else %}
                    <p>Haz clic en "Calcular valorización futura" para ver el resultado</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock %}